body{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    background-color: #9CB0B2;
}

img{
    padding: 5px;
    border: 5px solid #212529;
    border-radius: 1%;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #774936;
}

h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #212529;
    line-height: 1px;
}

h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1px;
    color: #212529;
}

h5{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #212529;
}